<!-- 
<head>
  <title>Bootstrap Example</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>
<style>
.my-form .box1
{
  color: white;
  padding-left: 15px;
  padding-top: 15PX;
  
} 
    

    
</style> -->

<!-- 
<div class="container-fluid"  class="alert alert-danger">
        <div style="background-color:rgba(0, 0, 0, 0.788);width:25%;margin:auto;">
        <form>
     <div class="my-form" *ngFor="let row of testList" >
       <div class="box1">
              <img src="https://www.w3schools.com/html/pic_trulli.jpg"width="20px" height="20px" style="border-radius: 50%;">
              {{row.displayname}}&emsp;{{row.postedAt}}&emsp;<svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-three-dots" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                <path fill-rule="evenodd" d="M3 9.5a1.5 1.5 0 1 1 0-3 1.5 1.5 0 0 1 0 3zm5 0a1.5 1.5 0 1 1 0-3 1.5 1.5 0 0 1 0 3zm5 0a1.5 1.5 0 1 1 0-3 1.5 1.5 0 0 1 0 3z"/>
              </svg><br>
           {{row.username}}<br>
             <h4> {{row.text}}</h4>
              <div>
                <i class="fa fa-share-alt" aria-hidden="true"></i>
                {{row.shares}} &nbsp;
                  <i class="fa fa-lightbulb-o" aria-hidden="true"></i>
                  {{row.likes}}
              </div>
              <hr>
            </div>
              
              <div class="box1" *ngFor="let row1 of row.replies">
               <div style="padding-left:20px;"> 
                  <img src="https://www.w3schools.com/html/pic_trulli.jpg"width="20px" height="20px" style="border-radius: 50%;">
              {{row1.displayname}}&emsp;{{row1.postedAt}}&emsp;<svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-three-dots" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                <path fill-rule="evenodd" d="M3 9.5a1.5 1.5 0 1 1 0-3 1.5 1.5 0 0 1 0 3zm5 0a1.5 1.5 0 1 1 0-3 1.5 1.5 0 0 1 0 3zm5 0a1.5 1.5 0 1 1 0-3 1.5 1.5 0 0 1 0 3z"/>
              </svg><br>
              {{row1.username}}<br>
                 {{row1.text}}<br>
                 <div>
                  <i class="fa fa-share-alt" aria-hidden="true"></i>
                    {{row1.shares}} &nbsp;
                      <i class="fa fa-lightbulb-o" aria-hidden="true"></i>
                      {{row1.likes}}
                  </div>
                </div>
                  <hr>
                 <div class="box1" *ngFor="let row2 of row1.replies">
                  <div style="padding-left:40px;">
                      <img src="https://www.w3schools.com/html/pic_trulli.jpg"width="20px" height="20px" style="border-radius: 50%;">
                    {{row2.displayname}}&emsp;{{row2.postedAt}}&emsp;<svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-three-dots" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                        <path fill-rule="evenodd" d="M3 9.5a1.5 1.5 0 1 1 0-3 1.5 1.5 0 0 1 0 3zm5 0a1.5 1.5 0 1 1 0-3 1.5 1.5 0 0 1 0 3zm5 0a1.5 1.5 0 1 1 0-3 1.5 1.5 0 0 1 0 3z"/>
                      </svg><br>
                    {{row2.username}}<br>
                       {{row2.text}}<br>
                       <div>
                        <i class="fa fa-share-alt" aria-hidden="true"></i>
                        {{row2.shares}} &nbsp;
                            <i class="fa fa-lightbulb-o" aria-hidden="true"></i>
                          {{row2.likes}}
                      </div>
                  </div>
                      <hr>
               </div>
               </div>
            </div>

        </form>   
       
        
    </div>
    

</div>
<table>
  <div class="table-responsive">
    <div class="table table-dark table-striped table-hover">
      <thead>
        <tr>
          <th>Name</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>Faizan</td>
        </tr>
        <tr>
          <td>Shadab</td>
        </tr>
        <tr>
          <td>Assu</td>
        </tr>
      </tbody>
    </div>
  </div>
</table>
<div class="container">
<ul class="list-group">
  <li class="list-group-item list-group-item-action">Faizan</li>
  <li class="list-group-item list-group-item-action">shadab</li>
</ul></div>
<div>
<button class="btn btn-primary btn-xs">Save</button>
</div> <br>
<div class="container">
<div class="card bg-dark text-white">
  <div class="card-body">
    respect
  </div>
</div>
</div> -->
<router-outlet></router-outlet>


      